<h1>MemoryLineへようこそ！</h1>

<div>
  <h3>MemoryLineとは</h3>
  <p>MemoryLineは、あなたの記憶サポートシステムです。</p>
</div>

<div>
  <h3>MemoryLineの特徴</h3>
  <ol>
    <li>オートコンプリート･･･一度入力したものは、オートコンプリートですぐに探せます。<li>
    <li>連想記憶･･･オブジェクト同士はインタラクション(リンク)で何でもつなげることができます。<li>
    <li>メモの再利用･･･MemoryLineはあなたが入力したメモをすべて記憶しているので、新しいメモを作る時でも、自分が過去に入力したメモを再利用することができます。<li>
    <li>ラベルもコンテンツもタグも再利用するのが、MemoryLine。</li>
  </ol>
</div>
